.app {
    flex-wrap:wrap;
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url('https://1320129.github.io/firebase-pr/images/bg.jpg') no-repeat;
}
